/* Looking for a dark, computery feel here. light text on black backgrounds. */

body {
    background-color: black;
    font-family: 'Share Tech Mono', monospace;
    color: #71C600
}

.solved, .wrong, .unsolved {
    width: 50px;
    height: 50px;
    font-size: 25px;
    padding: 5px;
}

.unsolved {
    background-color: white;
    color: white;
}

.solved {
    height: 40px;
    background-color: black;
    color: green;
    }

.wrong {
    background-color: black;
    color: red;   
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.active {
    color: #5a6268
}
