/* Looking for a dark, computery feel here. light text on black backgrounds. */

body {
    /* background-color: black; */
    font-family: 'Share Tech Mono', monospace;
    /* color: greenyellow */
}

section {
    margin: auto;
    width: 600px;
}

.unsolved {
    width: 20px;
    height: 20px;
    background-color: grey;
    color: grey;
    font-size: 15px;
}

.solved {
    width: 20px;
    height: 20px;
    background-color: grey;
    color: white;
    font-size: 15px;

    
}